@import "react-alice-carousel/lib/scss/alice-carousel.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #252323;
  color: #00ff22;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main {
  margin-bottom: 80px;
}

// .card-container {
//   transition: all 4s ease-in-out;
// }
// .card-container:hover {
//   background-color: #000000;
//   transition: all 0.4s ease-in-out;
//   color: white;
// }

.pageTitle {
  text-align: center;
  padding: 1rem;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: lighter;
  margin-bottom: 1rem;

  @media (min-width: 1000px) {
    font-size: 1.8rem;
  }
}

.modal_content {
  display: flex;
  flex-direction: column;

  .imageContainer {
    width: 100%;
    // height: 300px;
    .image {
      // width: 100%;
      object-fit: cover;
      height: 300px;
    }
  }

  .content_container {
    padding: 0 1rem;

    .movie_title {
      text-align: center;
      margin-top: 0.5rem;
    }

    .movie_tagline {
      margin: 0.7rem 0;
      text-align: center;
      font-style: italic;
    }

    .movie_description {
      border: solid 2px #502c13;
      padding: 0.5rem;
      margin-top: 1rem;
      border-radius: 8px;
      line-height: 1.5;
    }

    .movie_credits {
      width: 100%;
    }
  }
}

.movie_carousel {
  display: none;
  margin: 1rem 0;

  @media (min-width: 427px) {
    display: block;
  }

  .carouselCredits {
    display: flex;
    flex-direction: column;
    object-fit: contain;
    padding: 10px;
    text-align: center;

    .carousel_name {
      text-align: center;
      padding: 10px;
    }

    .carousel_image {
      height: 150px;
      width: 100%;
      object-fit: cover;
    }
  }
}
